ReajirEmoji.json
{
    "name": "Reajir com emoji",
    "flow": [
        {
            "id": 1,
            "module": "discord:WatchChannelMessages",
            "version": 1,
            "parameters": {
                "limit": 1,
                "channelId": "975948003988873256",
                "__IMTCONN__": 227752
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "channelId": {
                            "mode": "chose",
                            "label": "party-links"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (Integromat (integromat))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "discord:CreateReaction",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 227752
            },
            "mapper": {
                "emoji": "👌",
                "channelId": "975948003988873256",
                "messageId": "{{1.id}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "channelId": {
                            "mode": "chose",
                            "label": "party-links"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (Integromat (integromat))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    },
                    {
                        "name": "messageId",
                        "type": "text",
                        "label": "Message ID",
                        "required": true
                    },
                    {
                        "name": "emoji",
                        "type": "text",
                        "label": "Emoji",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "discord:PostMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 227752
            },
            "mapper": {
                "content": "Opa, {{1.content}} é baum demais. ",
                "moduleWebhookUrl": ""
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Discord connection (Integromat (integromat))",
                            "data": {
                                "scoped": "false",
                                "connection": "discord"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "moduleWebhookUrl",
                        "type": "url",
                        "label": "Custom Webhook URL"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}